# Analysis of full-time and part-time deposit rates

For LaGuardia's Assessment Leadership Team 

By Glenn Henshaw

## Introduction 

The goal of this report is to compare full-time and adjunct instructors'
involvement in depositing of student artifacts on Digication, LaGuardia's
ePortfolio system. This analysis covers data from Fall I 2017 and Spring I 2018. For this analysis we merged data from IR, Digication, and Academic Affairs.

First we present full-time and part-time deposit rates for the entire campus. Then we present analogous results on the departmental level. Lastly we discuss methodology and limitations of the analysis and suggest some conclusions. 

Chairs who are interested can obtain the course-by-course or section-by-section deposit rate results. But we omitted those from this report.

The results we obtained here can be combined with a survey to help decide which policies are likely to be effective in drawing more adjuncts into participating in eportfolio deposits.

### Tools

1. Python
2. Pandas, a Python Library for working with tabular data
3. Jupyter notebook envronment

### Library imports

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Files

In [4]:
cd alt_data

/Users/glenn/Desktop/Work Files/adjunct involvment project/alt_data

In [5]:
ls

depositing.csv          fall_dept.csv           spring2018classes.csv
fall2017classes.csv     fall_result.csv         spring2018deposits.csv
fall2017deposits.csv    my_table.tex            spring_result.csv

1. **"depositing.csv"** Obtained from Academic Affairs, is a list of courses that are required to deposit
2. **"fall2017classes.csv"** and **"spring2018classes.csv"** Obtained IR, is a list of all the sections that ran. It also gives full-partime status of instructor and section enrollment.
3. **"fall2017deposits.csv"** and **"spring2018deposits.csv"** Obtained from Digication, it is a list of all deposits during the respective semesters.

## Data Cleaning and merging

### Courses required to deposit

First we import the data

In [8]:
d = pd.read_csv("depositing.csv")
d.head()

   course                    competency                            ability
0  BTA202          Integrative Learning                   Oral and Digital
1  BTA202               Global Learning                            Written
2  BTA202  Inquiry and Problem Solving                             Written
3  BTF101          Integrative Learning  Oral and Digital (About Me-Early)
4  BTF101          Integrative Learning  Oral and Digital (About Me-Early)